@model List<WebApplication2.Models.ShoppingProduct>;
@{
    var allProduct = ViewBag.allProduct;
    var total = 0;
    double alldiscount = 0;
    foreach (var item in Model)
    {
        var CountAmount = item.Amount;
        var Price = (item.product.Price)* CountAmount;
        total += Price;
        if (item.product.Discount != null)
        {
            double xx = item.product.Discount.Value;
            double x = xx / 100;
            double discount = Price * x;
            alldiscount += discount;
        }

    }

    var TotalPrice = total - alldiscount + 100;

}
@if (Model.Count > 0)
{
    <div class="cart_main">
        <div class="container">

            <div class="cart-items">
                <h2 class="text-center" style=" margin: 20px; color: #5da0a0;">My Shopping Bag </h2>

                @foreach (var item in Model)
                {

                    <div class="cart-header">
                        <div><a asp-action="Rmove" asp-route-id="@item.ID" class="btn btn-danger">Delete</a> </div>
                        <div class="cart-sec">
                            <div class="cart-item cyc">
                                <img src="~/images/@item.product.Img_path" />
                            </div>
                            <div class="cart-item-info">
                                <h3>@item.product.Name</h3>
                                <h4><span> $ </span>@item.product.Price</h4>
                                <p class="qty">Qty : @item.Amount</p>
                                @*<input min="1" type="number" id="quantity" name="quantity" value="@item.Amount" class="form-control input-small">*@
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                }

                <form asp-controller="OrderV2" asp-action="Index" asp-route-totalPrice="@TotalPrice" asp-route-total="@total" asp-route-discount="@alldiscount" method="post">
                    <div class="cart-total">
                        <a class="continue" href="/">Continue to basket</a>

                        <div class="price-details">
                            <h3>Price Details</h3>
                            <span>Total</span>
                            <span class="total">@total</span>
                            <span>Discount</span>

                            <span class="total">@alldiscount</span>
                            <span>Delivery Charges</span>
                            <span class="total">100.00</span>
                            <div class="clearfix"></div>
                        </div>
                        <h4 class="last-price">TOTAL</h4>
                        <span class="total final">@TotalPrice</span>
                        <div class="clearfix"></div>
                        @*<a class="order">Place Order</a>*@

                        <input  class="order" type="submit" name="name"  value="Place Order" />
                    </div>
                </form>
            </div>
        </div>
    </div> 
    }
            else
            {
                <div class="container">
                    <h3 class="text-center "  style=" margin: 20px; color: #5da0a0;">Cart Empty</h3>
                    <a class="btn btn-info" href="/">Back To Home</a>
                </div>
            }
    